/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';


// * {
//     box-sizing: border-box;
//     height: 100vh;
//     width: 100vw;
//     overflow: hidden;
// }