<div class="rootContainer">
  <div class="header headerTitle">
     <h1 class="systemTitle">Appliances Monitoring System</h1>
  </div>
  <div class="outsideHome">
     <div class="insideHome">
        <ul class="menuList">
           <li>
              <h2 class="menuName active" routerLink="/">Dashboard</h2>
           </li>
           <li>
              <h2 class="menuName" href="#">Add Appliances</h2>
           </li>
        </ul>
        <form #form="ngForm" (ngSubmit)="onDevicesSelected(form.value)">
          <div class="userData">
            <label>
            Total Usage :56.7 KW
            </label>
            <div class="itemList">
               <div class="itemWrap">
                  <label class="itemName"><input type="checkbox" value="tv" name="tv" ngModel>TV :
                  <span class="appDetails">
                  <label>
                  Unit Consumed : 5w
                  </label>
                  </span>
                  </label> 
               </div>
               <div class="itemWrap">
                  <label class="itemName"><input type="checkbox" value="refrigerate" name="refrigerator" ngModel>Refrigerator :
                  <span class="appDetails">
                  <label>
                  Unit Consumed : 5w
                  </label>
                  </span>
                  </label> 
               </div>
               <div class="itemWrap">
                  <label class="itemName"><input type="checkbox" value="wifi" name="wifi" ngModel>Wi-Fi :
                  <span class="appDetails">
                  <label>
                  Unit Consumed : 5w
                  </label>
                  </span>
                  </label> 
               </div>
               <div class="itemWrap">
                  <label class="itemName"><input type="checkbox" value="bulb" name="bulb" ngModel>Bulbs :
                  <span class="appDetails">
                  <label>
                  Unit Consumed : 5w
                  </label>
                  </span>
                  </label>
               </div>
               <button class="submitButton" type="submit">Submit</button>
            </div>
         </div>
        </form>
     </div>
  </div>
</div>