.rootContainer {
	width: 100%;
	// height: 100%;
	background-color: aliceblue;
}

.headerTitle {
	display: block;
	text-align: center;
}

ul.menuList {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: darkGray;
	text-align: center;
	;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #111;
}

ul.menuList li {
	width: 50%;
	text-align: center;
}

.menuName {
	font-family: MONOSPACE;
	font-weight: 500;
	font-size: 36px;
	margin: 20px;
}

.insideHome {
	height: auto;
}

.active {
	background-color: green;
}

.userData {
	text-align: center;
	font-size: 24px;
	padding-top: 20px;
	font-family: monospace;
}

.itemName {
	width: 30%;
}

.itemName {
    width: 25%;
    display: inline;
}

.itemWrap {
	width: 100%;
	padding: 20px 20px;
	text-align: left;
}

.submitButton {
	background-color: green;
	padding: 15px 35px;
	font-size: 18px;
	font-weight: 600;
	color: bisque;
	border: none;
	font-family: monospace;
}